{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %}Home{% endblock %}

{% block header %}Movie Fandome App!{% endblock %}

{% block content %}
<div>
    
        <img class="col-12" src="{% static 'images/spirited-away.png' %}">
    <div class="text-center mt-4">
        <h5>All your Movies in one place.</h5>
        <p class="mt-4">       
            This app allows you to keep track of titles you already have and search for ones you are curious about.
        </p>
    </div>
</div>
{% endblock %}

