{% extends "base.html" %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block title %}Collection Form{% endblock %}

{% block header %}Add a Movie{% endblock %}

{% block content %}
    <div class="table-style col-10 ml-auto mr-auto mt-4">
        <h4 class="m-4">Movie Form</h4>
        <form method="post">
            {% csrf_token %}
            
                <div class="col-10 m-auto">
                    {{ form.title|as_crispy_field }} <!-- this only renders the td tags, still need the table tags -->
                </div>
                <div class="col-10 m-auto">
                    {{ form.director|as_crispy_field }} <!-- this only renders the td tags, still need the table tags -->
                </div>
                <div class="col-10 m-auto">
                    {{ form.studio|as_crispy_field }} <!-- this only renders the td tags, still need the table tags -->
                </div>
                <div class="col-10 m-auto">
                    {{ form.platform|as_crispy_field }} <!-- this only renders the td tags, still need the table tags -->
                </div>
                <div class="col-10 m-auto">
                    {{ form.year|as_crispy_field }} <!-- this only renders the td tags, still need the table tags -->
                </div>
                {{ form.non_field_errors }}
            
            <button class="btn-success mt-4 mb-2" type="submit"> Add to Collection</button>
        </form>
        
        <button class="btn-secondary mt-3 mb-4" type="button" onclick="location.href='{% url 'listMovie' %}'">Back to
            Collection
        </button>
    </div>
{% endblock %}
